@import 'styles/variables';

.subtitle {
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 600;
  color: $green;
  margin-top: 2.5rem;
  margin-bottom: 1rem;
  @media (max-width: 800px) {
    font-size: 1.2rem;
    line-height: 1.4;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
  }
}